/*@font-face {
    font-family: 'Exo-Regular';
    src: url("../fonts/Exo-Regular.otf");
}

@font-face {
    font-family: 'Exo-Medium';
    src: url("../fonts/Exo-Medium.otf");
}

@font-face {
    font-family: 'Exo-Light';
    src: url("../fonts/Exo-Light.otf");
}

@font-face {
    font-family: 'Myriad-Pro';
    src: url("../fonts/Myriad-Pro.ttf");
}
*/


/*
.example {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.clear-left {
    clear: left;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none !important;
}

body {
    font-family: 'Exo-medium';
    font-size: 100%;
    line-height: 1.5;
}


#main {
    background: #dee6e6;
    color: #115957;
    text-align: center;
}

#ft-text {
    padding: 70px 0;
}

#ft-text h3 {
    text-align: center;
    font-family: 'Exo-Regular';
    font-size: 25px;
    line-height: 1.6em;
}

#contact-form {
    text-align: left;
    font-family: 'Exo-Medium';
}

#contact-form .form-group {
    text-align: left;
    margin-bottom: 50px;
}

#contact-form .form-group label {
    font-size: 22px;
    font-weight: normal;
}

#contact-form .form-group input {
    height: 60px;
    padding-left: 30px;
    background: #d1dadb;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#contact-form .form-group input::-webkit-input-placeholder {
    color: #a8bebe;
    font-size: 20px;
    font-weight: normal;
}

#contact-form .form-group input::-moz-placeholder {
    color: #a8bebe;
    font-size: 20px;
    font-weight: normal;
}

#contact-form .form-group input:-moz-placeholder {
    color: #a8bebe;
    font-size: 20px;
    font-weight: normal;
}

#contact-form .form-group input:-ms-input-placeholder {
    color: #a8bebe;
    font-size: 20px;
    font-weight: normal;
}

#contact-form #last {
    margin-bottom: 10px;
}

#contact-form button {
    background: #05cd9f;
    padding: 15px 0 10px 0;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 30px;
}

#form-bottom {
    text-align: left;
    font-size: 20px;
}

#form-bottom .row {
    margin-bottom: 30px;
}

#form-bottom .box label {
    font-weight: normal;
    font-family: 'Exo-Regular';
    font-size: 20px;
}

#form-bottom .box input {
    width: 20px;
    height: 20px;
}

#form-bottom #first {
    margin: 20px 0 50px 0;
}

#form-bottom #no-mgn {
    margin-bottom: 0;
}

#form-bottom p {
    font-family: 'Exo-Medium';
    font-size: 22px;
}

#form-bottom span,
#form-bottom #first {
    font-family: 'Exo-light';
    font-size: 20px;
}

address {
    font-size: 25px;
    text-align: left;
    font-family: 'Exo-Regular';
    margin-top: 90px;
    padding-bottom: 50px;
}

address .pm {
    margin: 20px 0;
    display: inline-block;
}

#footer {
    background: #0d5856;
    text-align: center;
    color: #fff;
    padding: 90px 0 60px 0;
}

#footer p {
    font-size: 20px;
    font-family: 'Exo-Regular';
}

#footer #social {
    margin: 30px 0 25px 0;
}

#footer #social li {
    margin: 20px 25px;
}

#footer #social .fa {
    font-size: 24px;
}

#footer #sub-nav {
    margin-top: 30px;
}

#footer #sub-nav li {
    font-size: 18px;
    font-family: 'Exo-light';
    margin: 0 15px;
}

@media (max-width: 479px) {
    /*    #banner {
        background: url("http://10.175.165.11/SP166.62.6.79/SDwww.iamad.com.au/SpEDM%2fzLandP%2fbanner-mob.jpg/Rqae5eb53b-c103-49e4-a363-9cb05f81161d/IDBB110B7788D9DEE/RV200000/AVSkyController_3.2.5.54985/Br200/CL2-ea/DL0/DT0/EI155947278/Ht240/IP10.103.132.98%3a49540/IQ25/MO15/MT0/NIGPMOCCA-SAVDIST1-SKFCTL3/OC0/OS0/Otjpeg/PB200/PNMedCongestion_3G_Desktop/SI0700060084c150000000000000000000000000000a678462000000000000000000000000a63e064f0b3ae66a2e2d0901/SUhttp%3a%2f%2fwww.iamad.com.au%2fEDM%2fzLandP%2fbanner-mob.jpg/Sd736B7966697265/TI155947278/Tr1/Wh400/EVd85bb4be222c85c1786ce57cb0ff40a7/file.jpeg") no-repeat;
        height: 317px;
    }*/


/*  #ft-text h3 {
        text-align: left;
        font-size: 21px;
    }
    #contact-form .form-group label {
        font-size: 20px;
    }
    #contact-form .form-group input::-webkit-input-placeholder {
        font-size: 18px;
    }
    #contact-form .form-group input::-moz-placeholder {
        font-size: 18px;
    }
    #contact-form .form-group input:-moz-placeholder {
        font-size: 18px;
    }
    #contact-form .form-group input:-ms-input-placeholder {
        font-size: 18px;
    }
    #contact-form button {
        font-size: 20px;
        margin-top: 0;
    }
    address #web {
        font-size: 23px;
    }
    #footer #sub-nav li {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    #ft-text {
        padding: 40px 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
     #banner {
        background: url("http://10.175.165.11/SP166.62.6.79/SDwww.iamad.com.au/SpEDM%2fzLandP%2fbanner-sm.jpg/Rqae5eb53b-c103-49e4-a363-9cb05f81161d/IDBB110B7788D9DEE/RV200000/AVSkyController_3.2.5.54985/Br200/CL2-ea/DL0/DT0/EI155958919/Ht240/IP10.103.132.98%3a49546/IQ25/MO15/MT0/NIGPMOCCA-SAVDIST1-SKFCTL3/OC0/OS0/Otjpeg/PB200/PNMedCongestion_3G_Desktop/SI070006008ac150000000000000000000000000000a678462000000000000000000000000a63e064f09e2b543372d0901/SUhttp%3a%2f%2fwww.iamad.com.au%2fEDM%2fzLandP%2fbanner-sm.jpg/Sd736B7966697265/TI155958919/Tr1/Wh400/EV2d487abfd777e09816f09647123fa9b9/file.jpeg") no-repeat;
        height: 285px;
        background-size: cover;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    #banner {
        height: 299px;
    }
}

@media (min-width: 1041px) and (max-width: 2560px) {
    #banner {
        height: 420px;
    }
}

@media (min-width: 1441px) and (max-width: 2560px) {
    #banner {
        background-size: cover;
        height: 747px;
    }
}
*/
